In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('web_app/movies_ratings.csv', index_col=0)

In [3]:
movies[]

                                        title    rating
movieId
1                            Toy Story (1995)  3.886649
2                              Jumanji (1995)  3.246583
3                     Grumpier Old Men (1995)  3.173981
4                    Waiting to Exhale (1995)  2.874540
5          Father of the Bride Part II (1995)  3.077291
...                                       ...       ...
188797                             Tag (2018)  3.460993
189203                         Upgrade (2018)  3.656109
189333   Mission: Impossible - Fallout (2018)  3.741855
189363                       Ocean's 8 (2018)  3.261566
189713                  BlacKkKlansman (2018)  3.809524

[9818 rows x 2 columns]

In [4]:
movies.sort_values(by='rating', ascending=False)

                                        title    rating
movieId
171011                 Planet Earth II (2016)  4.486518
159817                    Planet Earth (2006)  4.458092
318          Shawshank Redemption, The (1994)  4.424188
170705                Band of Brothers (2001)  4.399898
174053   Black Mirror: White Christmas (2014)  4.350559
...                                       ...       ...
6587                             Gigli (2003)  1.205556
1826          Barney's Great Adventure (1998)  1.203829
4775                           Glitter (2001)  1.141026
6483              From Justin to Kelly (2003)  1.013859
8859      SuperBabies: Baby Geniuses 2 (2004)  0.873950

[9818 rows x 2 columns]